.inputText {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 1em;
    gap: 2em;
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100vw;
}
li {
    text-align: left;
}

.input {
    width: 10%;
    height: 10%;
    padding: 0.5em;
    border: 1px solid rgb(230, 230, 230);
}

.button {
    width: 10%;
    height: 10%;
    padding: 0.5em;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.midText {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    padding: 1em;
    gap: 2em;

    width: 100vw;
}
.companyText {
    font-weight: bold;
    font-size: 24px;
}
.companyDescriptionText {
    font-size: 14px;
    width: 10%;
    text-align: left;
    width: 50vw;
}
.mainMidText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    gap: 10em;
    max-width: 50vw;
    min-width: 30vw;
}

.midTextRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 20vh;
    
}
.image {
    width: 300px;
    height: auto;
    border-radius: 8px;
}